.Shopping-ProductEdit [name="groupList"] {
  position: absolute;
  top: 34px;
  width: 300px;
  left: 12px;
  z-index: 1000;
  background-color: white;
  border: 1px solid blue;
  display: none;
  cursor: pointer;
}
.Shopping-ProductEdit .row h5 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.Shopping-ProductEdit .button-bar {
  text-align: right;
}
.Shopping-ProductEdit .button-bar button {
  margin-top: -10px;
}
.Shopping-ProductEdit .button-bar button:last-child {
  margin-right: 12px;
}
.Shopping-ProductEdit h4 {
  font-size: 16px;
  margin-bottom: 30px;
}
.Shopping-ProductEdit .images li {
  float: left;
  width: 112px;
  height: 112px;
  margin-right: 12px;
}
.Shopping-ProductEdit .images li:last-child {
  margin-right: 0;
}
.Shopping-ProductEdit .images li :first-child {
  height: 100%;
}
