.carousel-editor ul.carousel-items li {
  float: left;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.carousel-editor ul.carousel-items li:last-child {
  background-color: white;
  padding-top: 22px;
  text-align: center;
  border: solid #ccc 1px;
  height: 120px;
}
.carousel-editor ul.carousel-items li .bottom {
  position: absolute;
  width: 200px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  margin-top: 94px;
  text-align: center;
}
.carousel-editor ul.carousel-items li .bottom .btn-link {
  color: white;
}
.carousel-editor ul.carousel-items li .bottom button {
  width: 100%;
}
.carousel-editor ul.carousel-items li .icon-remove {
  position: absolute;
  right: 0px;
  margin-left: 186px;
}
.carousel-editor ul.carousel-items li img {
  width: 100%;
  height: 120px;
}
