.Coupon-CouponEdit {
    label-width = 100px;
    .item-label {
        width: label-width;
        padding-left: 10px;
        float: left;
    }
    .item-input {
        margin-left: label-width;
    }

    .widget-header {
        min-height: 28px;
        background-image: none;
    }
    .border-bottom {
        border-bottom: none;
    }

}