.mobile-page {
    @import "content/bootstrap-3.3.7/less/bootstrap.less";
    @import "variables.less";
    .container {
        width: 100%;
    }
    .modal {
        position: absolute;
    }
    .modal-backdrop.in {
        position: absolute;
    }
    top: 0;
}

body {
    margin: 0;
    padding: 0;
}

@import "content/bootstrap-3.3.7/less/variables.less";
@import "lib/mobile/controls/controls.less";

@import "../product/style.less";

