.mobile-page {
    @import "lib/bootstrap-3.3.7/less/bootstrap.less";
    @import "variables.less";
    .container {
        width: 100%;
    }
    .modal {
        position: absolute;
    }
    .modal-backdrop.in {
        position: absolute;
    }
    top: 0;

    .norecords {
        text-align: center;
        padding-top: @norecords-padding-top;
        width: 100%;

        .icon {
            position: relative;
            width: 160px;
            height: 160px;
            left: 50%;
            margin-left: -80px;
            border-radius: 50%;
            background-color: #eeeeee;

            i {
            position: relative;
            top: 30px;
            font-size: 120px;
            display: block;
            color: white;
            }

            .icon-rss {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                position: relative;
                top: 14px;
                left: 3px;
            }
        }

        .text {
            padding-top: 10px;
            font-size: 16px;
        }

        button {
            margin-top: 10px;
        }
        }
}


body {
    margin: 0;
    padding: 0;
}

@import "lib/bootstrap-3.3.7/less/variables.less";
@import "lib/mobile/controls/controls.less";

@import "../product/style.less";

