.image-editor {
  width: 600px;
}
.image-editor .form-group label {
  width: 100px;
  margin-top: 4px;
}
.image-editor .form-group span {
  margin-right: 6px;
}
.image-editor .file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
