.navigator-editor .form-horizontal {
  max-width: 500px;
}
.navigator-editor ul {
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.navigator-editor ul li {
  padding-top: 20px;
}
.navigator-editor ul li:first-child {
  padding-top: 0;
}
.navigator-editor ul li.no-records {
  padding: 20px 0 20px 0;
}
.navigator-editor ul li .name {
  float: left;
  width: 120px;
}
.navigator-editor ul li .page-name {
  float: left;
}
