.categories-control {
  padding: 5px 5px 0px 5px;
}
.categories-control .col-xs-4 {
  padding: 5px;
  text-align: center;
}
.categories-control .col-xs-6 {
  padding: 5px;
}
.categories-control .well {
  margin-bottom: 0;
}
