.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.user-messages section {
  padding-top: 50px;
}
.user-messages.immersion section {
  padding-top: 65px;
}
