.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.user-userInfo section {
  padding-top: 50px;
}
.user-userInfo.immersion section {
  padding-top: 65px;
}
.user-userInfo .form-control {
  border: none;
}
.user-userInfo select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.user-userInfo .list-group {
  margin-bottom: 0;
}
.user-userInfo .modal-backdrop.in {
  opacity: 0.5;
}
