.image-thumber {
    .item {
        border: solid 1px #ccc;  
        .bottom {
            position: absolute; 
            bottom: 0px;
            width: ~"calc(100% - 32px)"; 
            background-color: rgba(0, 0, 0, 0.55);
            color: white;
    
            button {
                color: white
            }
        }      
    }

    
}