.image-thumber {
    .item {
        border: solid 1px #ccc;
        .bottom {
            position: absolute; 
            bottom: 0px;
            width: ~"calc(100% - 32px)"; 
            background-color: rgba(0, 0, 0, 0.55);
            color: white;
    
            button {
                color: white
            }
        } 
        
        .top {
            position: absolute; 
            right: 16px;
            top: 0px;
            color: white;
            font-size: 12px;
            font-weight: bold;

            .remove {
                display: none;
            }
        }  
        
        @selected_color:blue;
        &.selected {
            border: solid 1px @selected_color;

            @triangle_height:8px;
            @size: @triangle_height*2;
            .triangle {
                position: absolute;
                top: -16px;
                right: -1px;
                width:  @size;
                height: @size;
                background: transparent;
                border-top: @size solid transparent;
                border-bottom:  @size solid @selected_color;
                border-left: @size solid transparent;
                border-right: @size solid transparent;
                margin:0 auto;
                transform: rotate(45deg);
            }

            &:hover .remove {
                display: none;
            }
        }

        &:hover .remove {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            padding-top: 2px;
            display: block;
            background-color: rgba(0, 0, 0, 0.55);
            i {
                color: white;
            }
        }
        
    }

    
}