.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.home-index section {
  padding-bottom: 50px;
}
.home-index .pulldown-indicator {
  height: 50px;
  padding-top: 20px;
  text-align: center;
}
.home-index .products .item {
  padding-top: 16px;
  padding-bottom: 10px;
}
.home-index .products .item:nth-child(2n+1) {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  /*margin-top: 1px;*/
}
.home-index .products .item:nth-child(2n) {
  border-left: 1px solid white;
  border-bottom: 1px solid #eeeeee;
}
.home-index .products .item .bottom {
  text-align: left;
  padding: 8px 0px 0px 8px;
}
.home-index .products .item .price {
  color: #f70;
  font-weight: bold;
}
.home-index .products .item img {
  max-width: 70%;
  height: auto;
}
.home-index .products promotion-label {
  padding-top: 2px;
  /*position: relative;
            display: block;
            top: -24px;
            left: 0px;
            height: 20px;
            min-height: 20px;
            text-align: right;*/
}
.home-index header nav:first-child {
  opacity: 0;
}
.home-index header .search-input {
  border-width: 0px;
  border-radius: 4px;
  margin: 10px 52px 0px 52px;
  width: auto;
  background-color: white;
  color: #777777;
  text-align: left;
  opacity: 0.8;
  font-size: 14px;
}
.home-index header .icon-search {
  float: right;
  font-size: 18px;
  color: #98a0af;
}
.home-index header .left-icon {
  float: left;
  margin: 2px 0px 0px 0px;
  text-align: center;
  color: white;
  font-size: 18px;
  width: 50px;
}
.home-index header .left-icon div {
  font-size: 12px;
  margin-top: -4px;
}
.home-index header .right-icon {
  float: right;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
  width: 50px;
}
.home-index header .right-icon div {
  font-size: 12px;
  margin-top: -6px;
}
.home-index header .right-icon .badge {
  position: relative;
  right: -50px;
  color: #bf0705;
  background-color: #ffffff;
}
.home-index .quickbar {
  padding: 20px 0px 0px 0px;
}
.home-index .quickbar .text {
  margin-top: 6px;
  font-size: 12px;
}
.home-index .quickbar .col-xs-3 {
  padding: 0px;
}
.home-index .quickbar :nth-child(1) .item {
  position: relative;
  left: -28px;
  border-radius: 50%;
  background-color: #F06292;
  width: 60px;
  height: 60px;
  text-align: center;
}
.home-index .quickbar :nth-child(1) .item i {
  color: white;
  font-size: 40px;
  position: relative;
  left: 0px;
  top: 12px;
}
.home-index .quickbar :nth-child(2) .item {
  position: relative;
  left: -28px;
  border-radius: 50%;
  background-color: #4DD0E2;
  width: 60px;
  height: 60px;
  text-align: center;
}
.home-index .quickbar :nth-child(2) .item i {
  color: white;
  font-size: 36px;
  position: relative;
  left: 0px;
  top: 14px;
}
.home-index .quickbar :nth-child(3) .item {
  position: relative;
  left: -28px;
  border-radius: 50%;
  background-color: #FF8A66;
  width: 60px;
  height: 60px;
  text-align: center;
}
.home-index .quickbar :nth-child(3) .item i {
  color: white;
  font-size: 36px;
  position: relative;
  left: 0px;
  top: 12px;
}
.home-index .quickbar :nth-child(4) .item {
  position: relative;
  left: -28px;
  border-radius: 50%;
  background-color: #CF93D9;
  width: 60px;
  height: 60px;
  text-align: center;
}
.home-index .quickbar :nth-child(4) .item i {
  color: white;
  font-size: 40px;
  position: relative;
  left: 0px;
  top: 10px;
}
.home-index .carousel-inner .item img {
  width: 100%;
}
