.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.home-location {
  background-color: #f0efed;
}
.home-location section {
  padding-top: 50px;
}
.home-location.immersion section {
  padding-top: 65px;
}
.home-location section {
  width: 100%;
}
.home-location .location-content {
  overflow: hidden;
}
.home-location .location-content ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.home-location .location-content ul li {
  list-style: none;
}
.home-location .location-content .autoLocation {
  margin-top: .2rem;
  margin-bottom: .4rem;
  overflow: hidden;
  border: 1px solid #DDD8CE;
  border-radius: .06rem;
}
.home-location .location-content .autoLocation p {
  margin: 0px;
}
.home-location .location-content .autoLocation .location-text {
  width: 100%;
  padding: 10px;
  background-color: #fff;
}
.home-location .location-content .location-box {
  margin-top: .2rem;
  border-top: 1px solid #DDD8CE;
  border-bottom: 1px solid #DDD8CE;
  border-radius: .06rem;
  overflow: hidden;
  padding: 0;
  margin-bottom: 30px;
}
.home-location .location-content .location-box .list:first-child {
  border-top: none;
}
.home-location .location-content .location-box .list {
  clear: both;
}
.home-location .location-content .location-box .list p {
  display: inline-block;
  margin: 0;
  margin-bottom: -1px;
  line-height: 30px;
  font-size: .8rem;
  width: 100%;
  border-bottom: 1px solid #f7f7f7;
  position: relative;
  z-index: 10;
  margin: 0 20px;
}
.home-location .location-content .location-box .list .provinces {
  background-color: #FDFDFC;
  min-height: .8rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.home-location .location-content .location-box .list .provinces li:last-child {
  border-bottom: 1px solid #f7f7f7;
}
.home-location .location-content .location-box .list .provinces li {
  display: block;
  width: 100%;
  height: 37px;
  line-height: 37px;
  font-size: .28rem;
  border-bottom: 1px solid #ddd8ce;
  margin: 0 20px;
}
.home-location .location-content .location-box .list .provinces li a {
  display: block;
  color: inherit;
  height: 100%;
  text-decoration: none;
  outline: 0;
  overflow: hidden;
}
