.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.home-search section {
  padding-top: 50px;
}
.home-search.immersion section {
  padding-top: 65px;
}
.home-search header {
  background-color: white;
}
.home-search header nav {
  background-color: white;
  border-bottom: 1px solid #cccccc;
}
.home-search header nav button {
  color: unset;
  background-color: white;
}
.home-search header nav .leftButton {
  margin-left: 0px;
}
.home-search .history h4 {
  color: #bf0705;
  font-weight: bold;
  margin: 0px;
}
.home-search .norecords {
  padding-top: 0;
}
.home-search .norecords .icon i {
  top: 24px;
  left: 8px;
}
