.image-thumber {
    .item {
        border: solid 1px #ccc;
        .bottom {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            -webkit-text-overflow: ellipsis;
            -moz-binding: url(ellipsis.xml#ellipsis);
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;  
            position: relative;
            bottom: 0;
            padding: 4px 8px 0px 8px;  
            font-size: 12px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.55);
            color: white; 

            // position: absolute; 
            // bottom: 0px;

            width: 100%;
            
            @height: 24px;
            height: @height;
            margin-top: 0 - @height; 
            // background-color: rgba(0, 0, 0, 0.55);
            // color: white;
    
            
            button {
                color: white
            }
        } 
        
        .top {
            position: relative; 
            height: 18px;
            margin-top: -18px;
            padding-top: 18px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            text-align: right;
        }  
        
        @selected_color:blue;
        &.selected {
            border: solid 1px @selected_color;

            @triangle_height:8px;
            @size: @triangle_height*2;
            .triangle {
                position: relative;
                top: 16px;
                left: ~"calc(100% - 16px)";
                width:  @size;
                height: @size;
                margin-top: -32px;
                background: transparent;
                border-top: @size solid transparent;
                border-bottom:  @size solid @selected_color;
                border-left: @size solid transparent;
                border-right: @size solid transparent;
                transform: rotate(45deg);
            }

            &:hover .remove {
                display: none;
            }
        }

        .remove {
            display: none;
        }
        &:hover .remove {
            @size:20px;
            position: relative;
            left: ~"calc(100% - 20px)";
            top: @size;
            width: @size;
            height: @size;
            border-radius: @size / 2;
            margin-top: 0 - @size;
            // padding-top: 2px;
            display: block;
            background-color: rgba(0, 0, 0, 0.55);
            i {
                color: white;
            }
        }
        
    }

    
}