.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.shopping-evaluation section {
  padding-top: 100px;
}
.shopping-evaluation.immersion section {
  padding-top: 115px;
}
.shopping-evaluation .products .item .image {
  width: 80px;
  height: 80px;
}
.shopping-evaluation .products .item .name {
  margin-left: 100px;
  min-height: 60px;
}
.shopping-evaluation .products .item a {
  position: relative;
  bottom: 8px;
  border: 1px solid #bf0705;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  color: #bf0705;
}
.shopping-evaluation .products .item label {
  position: relative;
  bottom: 4px;
}
.shopping-evaluation .products hr {
  margin-top: 4px;
  margin-bottom: 14px;
}
.shopping-evaluation ul {
  border-bottom: 1px solid #777777;
  background-color: white;
  opacity: 0.9;
}
.shopping-evaluation ul li {
  width: 50%;
  float: left;
  text-align: center;
  height: 40px;
  padding-top: 10px;
}
.shopping-evaluation ul li.active {
  border-bottom: 2px solid #bf0705;
}
.shopping-evaluation .norecords .icon i {
  top: 24px;
}
