.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.shopping-shoppingCart section {
  padding-top: 50px;
}
.shopping-shoppingCart.immersion section {
  padding-top: 65px;
}
.shopping-shoppingCart section {
  padding-bottom: 104px;
}
.shopping-shoppingCart .pic {
  padding-right: 0;
  text-align: left;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 40px;
}
.shopping-shoppingCart .list-group-item {
  min-height: 80px;
}
.shopping-shoppingCart .list-group-item .icon-ok-sign,
.shopping-shoppingCart .list-group-item .icon-circle-blank {
  font-size: 20px;
  color: #BF0705;
}
.shopping-shoppingCart .list-group-item button {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14px;
  border: none;
  background: none;
}
.shopping-shoppingCart .price {
  color: #f70;
  font-weight: bold;
}
.shopping-shoppingCart .settlement {
  bottom: 50px;
  position: absolute;
  width: 100%;
  height: 54px;
  background: white;
  padding-right: 10px;
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
}
.shopping-shoppingCart .settlement .select-all {
  position: absolute;
  left: 4px;
  border: none;
  background: none;
}
.shopping-shoppingCart .settlement .select-all .icon-ok-sign,
.shopping-shoppingCart .settlement .select-all .icon-circle-blank {
  margin-left: -4px;
  font-size: 20px;
  color: #bf0705;
}
.shopping-shoppingCart .settlement .select-all .text {
  position: relative;
  left: 8px;
  top: -2px;
}
.shopping-shoppingCart .settlement .btn {
  min-width: 80px;
}
.shopping-shoppingCart .Reduce {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #6db248;
}
.shopping-shoppingCart .Discount {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #f15353;
}
.shoppingCart section {
  padding-top: 50px;
}
.shoppingCart.immersion section {
  padding-top: 65px;
}
.shoppingCart section {
  padding-bottom: 104px;
}
.shoppingCart .pic {
  padding-right: 0;
  text-align: left;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 40px;
}
.shoppingCart .list-group-item {
  min-height: 80px;
}
.shoppingCart .list-group-item .icon-ok-sign,
.shoppingCart .list-group-item .icon-circle-blank {
  font-size: 20px;
  color: #BF0705;
}
.shoppingCart .list-group-item button {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14px;
  border: none;
  background: none;
}
.shoppingCart .price {
  color: #f70;
  font-weight: bold;
}
.shoppingCart .settlement {
  bottom: 50px;
  position: absolute;
  width: 100%;
  height: 54px;
  background: white;
  padding-right: 10px;
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
}
.shoppingCart .settlement .select-all {
  position: absolute;
  left: 4px;
  border: none;
  background: none;
}
.shoppingCart .settlement .select-all .icon-ok-sign,
.shoppingCart .settlement .select-all .icon-circle-blank {
  margin-left: -4px;
  font-size: 20px;
  color: #bf0705;
}
.shoppingCart .settlement .select-all .text {
  position: relative;
  left: 8px;
  top: -2px;
}
.shoppingCart .settlement .btn {
  min-width: 80px;
}
.shoppingCart .Reduce {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #6db248;
}
.shoppingCart .Discount {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #f15353;
}
.shopping-shoppingCartNoMenu section {
  padding-top: 50px;
}
.shopping-shoppingCartNoMenu.immersion section {
  padding-top: 65px;
}
.shopping-shoppingCartNoMenu section {
  padding-bottom: 104px;
}
.shopping-shoppingCartNoMenu .pic {
  padding-right: 0;
  text-align: left;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 40px;
}
.shopping-shoppingCartNoMenu .list-group-item {
  min-height: 80px;
}
.shopping-shoppingCartNoMenu .list-group-item .icon-ok-sign,
.shopping-shoppingCartNoMenu .list-group-item .icon-circle-blank {
  font-size: 20px;
  color: #BF0705;
}
.shopping-shoppingCartNoMenu .list-group-item button {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14px;
  border: none;
  background: none;
}
.shopping-shoppingCartNoMenu .price {
  color: #f70;
  font-weight: bold;
}
.shopping-shoppingCartNoMenu .settlement {
  bottom: 50px;
  position: absolute;
  width: 100%;
  height: 54px;
  background: white;
  padding-right: 10px;
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
}
.shopping-shoppingCartNoMenu .settlement .select-all {
  position: absolute;
  left: 4px;
  border: none;
  background: none;
}
.shopping-shoppingCartNoMenu .settlement .select-all .icon-ok-sign,
.shopping-shoppingCartNoMenu .settlement .select-all .icon-circle-blank {
  margin-left: -4px;
  font-size: 20px;
  color: #bf0705;
}
.shopping-shoppingCartNoMenu .settlement .select-all .text {
  position: relative;
  left: 8px;
  top: -2px;
}
.shopping-shoppingCartNoMenu .settlement .btn {
  min-width: 80px;
}
.shopping-shoppingCartNoMenu .Reduce {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #6db248;
}
.shopping-shoppingCartNoMenu .Discount {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #f15353;
}
.shopping-shoppingCartNoMenu section {
  padding-bottom: 50px;
}
