.pull-down-indicator .pull-down-indicator {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.pull-down-indicator .pull-down-indicator i {
  margin-right: 4px;
}
.pull-down-indicator.immersion .pull-down-indicator {
  height: 65px;
}
.wizard.container .step {
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
  height: 80px;
}
.wizard.container .step .step1 {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /**/
  background-color: #777777;
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 2px;
}
.wizard.container .step .step1 .name {
  position: relative;
  top: 10px;
  left: -20px;
  width: 80px;
  font-size: 14px;
  color: black;
}
.wizard.container .step .step2 {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #777777;
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 2px;
}
.wizard.container .step .step2 .name {
  position: relative;
  top: 10px;
  left: -22px;
  width: 80px;
  font-size: 14px;
  color: black;
}
.wizard.container .step .active {
  background-color: #f50000;
}
.wizard.container .step hr {
  position: relative;
  top: 20px;
}
.wizard.container hr {
  margin-top: 6px;
}
.wizard.container .alert {
  margin-bottom: 0;
}
