.menuControl ul.menu {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 2px 0 0 0;
  border-top: 1px solid #dddddd;
  background-color: #f8f8f8;
  height: 50px;
  overflow-y: hidden;
}
.menuControl ul.menu li {
  float: left;
  color: #777777;
  cursor: pointer;
  text-align: center;
}
.menuControl ul.menu li i {
  width: 100%;
  font-size: x-large;
  padding: 2px 0px 0px 0px;
  display: block;
}
.menuControl ul.menu.noicon li {
  padding-top: 15px;
}
.menuControl ul.menu .badge {
  position: relative;
  top: -48px;
  left: 24px;
}
